<div class="list-container">

  <fieldset class="retro-panel title-panel">
    <legend>MEUS PERSONAGENS</legend>
  </fieldset>

  @if (error()) {
    <fieldset class="retro-panel">
      <p class="error-msg">ERRO AO CARREGAR PERSONAGENS.</p>
    </fieldset>
  } @else if (characters().length === 0) {
    <fieldset class="retro-panel">
      <p class="empty-msg">NENHUM PERSONAGEM ENCONTRADO.</p>
    </fieldset>
  } @else {
    <fieldset class="retro-panel">
      <legend>SELECIONE UM AVENTUREIRO</legend>
      <ul class="character-list">
        @for (char of characters(); track char.id_character) {
          <li class="character-row" (click)="openSheet(char.id_character)">
            <span class="char-name">{{ char.name }}</span>
            <span class="char-meta">{{ char.class }} &mdash; {{ char.race }} &mdash; Nível {{ char.level }}</span>
            <span class="char-arrow">&#9658;</span>
          </li>
        }
      </ul>
    </fieldset>
  }

  <button class="retro-btn back-btn" (click)="goBack()">VOLTAR</button>

</div>
